<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Project 2</title>
    <%- include ./partials/_stylesheets %>
  </head>
  <body>
    <header>
      <%- include ./partials/_navbar %>
    </header>
    <% if(locals.message) { %>
      <p><%= message %></p>
    <% } %>
      <%- body %>
    <%- include ./partials/_scripts %>
  </body>
</html>
