<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Project 2</title>
    <%- include ./partials/_stylesheets %>
  </head>
  <body class="<% if (locals.isHomepage) { %>isHomepage<% } %>">
    <header>
      <%- include ./partials/_navbar %>
    </header>
    <% for (const type in messages) { %>
      <p class="alert alert-<%= type %>"><%= messages[type] %></p>
    <% } %>
      <%- body %>
    <%- include ./partials/_scripts %>
  </body>
</html>
