<main class="container edit-page">
  <h1>Edit Rocket</h1>
  <div class="row">
    <div class="col-lg-6 col-md-9 col-sm-12 edit-form">
    <form method="POST" action="/rockets/<%= rocket.id %>">
      <input type="hidden" name="_method" value="PUT">
      <h2>Rocket Info</h2>
      <div class="form-group">
        <label for="name">Rocket Name</label>
        <input type="text" class="form-control" id="name" name="name" value="<%= rocket.name %>" required>
      </div>
      <div class="form-group">
        <label for="manufacturer">Manufacturer</label>
        <input type="text" class="form-control" id="manufacturer" name="manufacturer" value="<%= rocket.manufacturer %>" required>
      </div>
      <div class="form-group">
        <label for="country">Country</label>
        <input type="text" class="form-control" id="country" name="country" value="<%= rocket.country %>" required>
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <textarea class="form-control" id="description" rows="3" name="description" required><%= rocket.description %></textarea>
      </div>
      <div class="form-group">
        <label for="image">Image URL</label>
        <input type="text" class="form-control" id="image" name="image[url]" value="<%= rocket.image.url %>" required>
      </div>
      <div class="form-group">
        <label for="image-description">Image Description</label>
        <input type="text" class="form-control" id="image-description" name="image[description]" value="<%= rocket.image.description %>" required>
      </div>
      <button type="submit" class="btn btn-primary">Update Rocket!</button>
    </form>
        </div>
  </div>
</main>
