<div class="row">
  <div class="col-sm-6">
    <img class="img-fluid" src="<%= rocket.image.url %>" alt="<%= rocket.image.description %>">
  </div>
  <div class="col-sm-6">
    <h1><%= rocket.name %></h1>
    <h2>Manufacturer: <%= rocket.manufacturer %><br>
    Country: <%= rocket.country %></h2>
    <h3>First Flight: <%= rocket.firstFlight %></h3>
    <p><%= rocket.description %></p>
  </div>
  <div class="col-sm-12">
    <a href="/rockets/<%= rocket.id %>/edit" class="btn btn-primary">Edit Rocket</a>
  </div>
</div>
