<div class="row">
  <div class="col-sm-4 d-flex justify-content-center image-container" style="background-image: url(<%= rocket.image.url %>)">
  </div>
  <div class="col-sm-8  d-flex align-items-center flex-wrap">
    <div class="row">
      <div class="col-sm-12">
      <h1><%= rocket.name %></h1>
      </div>
      <div class="col-sm-12">
      <h2>Manufacturer: <%= rocket.manufacturer %><br>
      Country: <%= rocket.country %></h2>
      </div>
      <div class="col-sm-12">
      <p><%= rocket.description %></p>
    </div>
    </div>
    <% if (locals.isAuthenticated) { %>
      <% if (currentUser.admin) { %>
        <div class="row">
          <form method="POST" action="/rockets/<%= rocket.id %>">
            <a href="/rockets/<%= rocket.id %>/edit" class="btn btn-primary">Edit Rocket</a>
            <input type="hidden" name="_method" value="DELETE">
            <button class="btn btn-danger">Delete</button>
          </form>
        </div>
      </div>
    <% } %>
  <% } %>
</div>
