<h1><%= user.username %></h1>
<h2>Cards</h2>
<p><% user.cards.forEach(card => { %>
  <%= card.name %>,
<% }) %></p>

<% usrMessages.forEach(message => { %>
  currentUserID <%= currentUser.id %><br>
  sent to <%= message.to %><br>
  do they match? <%= currentUser.id === message.to %><br>
  sent from <%= message.from %><br>
  do they match? <%= currentUser.id === message.from %><br>
  <% if (currentUser.id === message.from || currentUser.id === message.to) { %>
  <h3>From: <%= message.from %></h3>
  <p><%= message.text %></p>
  <% } %>
<% }) %>
