<% user = currentUser %>
<main class="container">
  <div class="row">
    <div class="col">
      <h1><%= user.username %></h1>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h2>Favorite Rockets</h2>
      <p><% user.cards.forEach(card => { %>
        <a href="../rockets/<%= card.id %>"><%= card.name %></a>,
      <% }) %></p>
    </div>
  </div>
  <section class="container">
    <div class="row">
      <div class="col-md-4">
        <%- include ../messages/_new %>
      </div>
      <div class="col-md-8">
        <%- include ../messages/_index %>
      </div>
    </div>
  </section>
</main>
